global:
  # How frequently to scrape targets by default.
  #scrape_interval: 1m

  # How long until a scrape request times out.
  #scrape_timeout: 10s

  # How frequently to evaluate rules.
  #evaluation_interval: 1m

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      environment: {{ sudowatch_environment }}

# Rule files specifies a list of globs. Rules and alerts are read from
# all matching files.
rule_files:
  - "rules/*.rules"

# A list of scrape configurations.
scrape_configs:
  {{ prometheus_default_scrape_configs | to_nice_yaml(indent=2) | indent(2,False) }}

  {% if prometheus_scrape_configs %}

  {{ prometheus_scrape_configs | to_nice_yaml(indent=2) | indent(2,False) }}

  {% endif %}


  {% if enable_yace and yace_scrape_configs is defined and yace_scrape_configs %}

  {{ yace_scrape_configs | to_nice_yaml(indent=2) | indent(2,False) }}

  {% endif %}


  {% if enable_pushgateway %}

  - job_name: 'pushgateway'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: ['pushgateway:9091']
  {% endif %}

# Alerting specifies settings related to the Alertmanager.
{% if enable_alertmanager %}
alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - 'alertmanager:9093'
{% endif %}